<div class="box wide">
  <p>
      We want to grow our team of mentors while ensuring the safety of our community. We also want to avoid giving harmfull advice.
      You can invite new mentors to the team, but make sure that they know about the basic dietary needs that Vegans have,
      such as the need to suplement vitamins B12 and D3 and the need to consume a sufficient ammount of calcium.
  </p>

  <p>
      If you know someone who you think would be a good mentor, go ahead and send them an invite.
  </p>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>

  or

  <p>
  <%= button_to "Skip", "/", :method => :get %>
  </p>
</div>
